<div >
		<%= link_to "Main Page", root_path %>
</div>


<% @user = User.all %>

<% @user.each do|u|%>

	<% if u.user_kind == 'Employee Seeker' %>
		<div class= "well">

			Company: <%= u.company_name%><br>
			Type: <%= u.user_kind%><br>
			<%= link_to 'View Profile', u.company_name, class: 'btn' %>
			<%= link_to 'Add This Company', new_user_follower_path(follower_id: u), class: 'btn btn-primary' %>
		</div>
	<%end %>
<% end %>

