
<!-- All the content for the JOB SEEKER user -->
<% if @current_user.user_kind == 'Job Seeker' %>

	<ul class= "nav nav-pills">
		<li><%= link_to "Add Profile Picture", new_profile_picture_path %></li>
		<li><%= link_to 'Start yor Application', new_the_application_path %></li>
		<li><%= link_to 'Add Education History', new_education_path %></li>
		<li><%= link_to 'Add Employment History', new_employment_path %></li> 
	</ul>

	<h1>Profile page</h1>

	<%= render :file => "app/views/profile_pictures/_index" %>
	<%= render :file => "app/views/the_applications/_index" %>
	<%= render :file => "app/views/educations/_index" %>
	<%= render :file => "app/views/employments/_index" %>




<!-- All the content for the EMPLOYEE SEEKER user aka COMPANIES-->
<% else %>

	<div class="centered">
		<h1>you are a employer look to hire new employees!</h1>
	</div>

	<ul class= "nav nav-pills">
		<li><%= link_to "Add Company Logo", new_profile_picture_path %></li>
		<li><%= link_to "Add a Job Posting", new_job_listing_path %></li>
	
	</ul>

	<div class= 'well'>
		<h1><%= @current_user.company_name %></h1>
	</div>
	 
	<!-- if there is a profile pic display it -->
	<%= render :file => "app/views/profile_pictures/_index" %>
	

	<!-- if this company has job postings list them -->
	<%= render :file => "app/views/job_listings/_for_companies" %>


<%end%>



<!-- content that both types of users would see -->



