<% current_user ||= User.find(session[:user_id]) if session[:user_id] %>
<% @company_profiles = current_user.company_profiles %>


<% @company_profiles.each do |company_profile| %>
    <div class="general_information">
      <h1>Your Company Profile</h1>
      <ul>
        <li><%= company_profile.company_name %></li>
        <li><%= company_profile.street_address %></li>
        <li><%= company_profile.city %></li>
        <li><%= company_profile.state %></li>
        <li><%= company_profile.zip_code %></li>
      </ul>
      <%= link_to 'Edit Infromation', edit_company_profile_path(company_profile) %>
    </div>
<% end %>

