<%= simple_form_for(@profile_picture, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	
  	<%= f.input :asset, html: { class: 'form-control'}, label: "Upload a profile picture" %> 
  	<% if f.object.asset? %>
  		<br>
  		<%= image_tag(f.object.asset.url(:small)) %><br>
  		<em>Currently uploaded profile picture</em>
  	<% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
