<% @user_apps.each do |a| %>
	<% app = a.app %> <!-- finds the job_listing -->
	<% applicant = a.company %>  <!-- finds the user that applied for the job. -->
<div class= "well">
	<div>
		<!-- link to profile page of the company.  find out how to use the app_id from users_app to find the user in the users table, then link to the profile page through the company name. -->

	</div>

	<div>

		<% if a.pending? %>
			<strong><%= app.company_name %></strong> <br>
			<em>Pending</em> <%= link_to 'Delete request', edit_user_app_path(a) %>
		<% end %>
		<% if a.requested? %>
			<em>New Application</em><br>
			Applicant: <strong><%= applicant.full_name %></strong> <br>
			Job Title: <%= app.job_title %> <br> 
			<%= link_to 'View Applicant', applicant.first_name, class: 'btn btn-info' %>
			<%= link_to 'Start the Hiring Process', edit_user_app_path(a), class: 'btn btn-success' %>
		<% end %>
		<% if a.accepted? && applicant %>
			<em>Hiring Process Started</em> <br>
			Applicant: <strong><%= applicant.full_name %></strong> <br>
			Company: <strong><%= app.company_name %></strong>
			Job Title: <%= app.job_title %> <br>
			<%= link_to 'View Applicant', applicant.first_name, class: 'btn btn-info' %>
			<%= link_to 'View Company', app.company_name, class: 'btn btn-primary' %>
			<%= link_to 'Update ', edit_user_app_path(a), class: 'btn' %>
		<% end %>

	</div>

</div>

<% end %>

