<h1>Job you have Posted</h1>
<% current_user = User.find(session[:user_id]) if session[:user_id] %>
<% @job_listings = current_user.job_listings %>
<% @job_listings.each do |job_listing| %>
  
    <div class="job_post">
        Name: <%= job_listing.company_name %>
        <br>
    	Job Type: <%= job_listing.job_type %>
    	<br>
    	Job Title: <%= job_listing.job_title %>
		<br>
        Created: <%= time_ago_in_words(job_listing.created_at) %> ago
          	
    	<br><br><br>
    	<!-- <div class="more_information">
    		<%= link_to 'more information', job_listing_path(job_listing) %>
    	</div> -->

        <%= link_to 'Edit', edit_job_listing_path(job_listing) %> |
        <%= link_to 'Delete', job_listing, method: :delete, data: { confirm: 'Are you sure?' } %>
        
    </div>
  
<% end %>