<h1>Jobs you can Apply for</h1>
<% @job_listings = JobListing.all %>
<% @job_listings.each do |job_listing| %>
  
    <div class="job_post">
        Company Name: <%= job_listing.company_name %>
        <br>
    	Job Type: <%= job_listing.job_type %>
    	<br>
    	Job Title: <%= job_listing.job_title %>
		<br>
        Created: <%= time_ago_in_words(job_listing.created_at) %> ago

    	<br><br><br>
    	<div class="more_information">
    		<%= link_to 'more information', job_listing_path(job_listing) %>
    	</div>
    </div>
  
<% end %>
