<div class= "well" >
	<h1>job_listings show</h1>
	<br>
<strong>Job Type: </strong>
<%= @job_listing.job_type %>
<br>
<strong>Job Title: </strong>
<%= @job_listing.job_title %>
<br>
<strong>Job Description: </strong>
<%= @job_listing.job_description %>
<br>
<strong>Job Responsibilities: </strong>
<%= @job_listing.job_responsibilities %>
<br>
<strong>Job Benifits: </strong>
<%= @job_listing.job_benefits %>
<br>
<strong>Pay Range: </strong>
<%= @job_listing.pay_range %>
<br>
Created: <%= time_ago_in_words(@job_listing.created_at) %> ago
</div>



<!-- link_to 'Apply to Job', new_user_app_path(app_id: @user), class: 'btn btn-primary' %> -->